.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 50px;
    
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: #fff;
    color: #262626;
    cursor: pointer;
    transition: 0.4s;
}
.nav-contact:hover{
    border-radius: 25px;
    padding: 10px 38px;
    background: skyblue;
    color: black;
    cursor: pointer;
}
.h{
  cursor: pointer;
  transition: .35s; 
}
.h:hover{
    font-size: 22px;
    color: blueviolet;
    font-weight: bold;
}